Cython==0.25.2
cytoolz==0.8.2
dask==0.14.3
Flask==0.12.2
Flask-Cors==3.0.2
Flask-WTF==0.14.2
funcsigs==1.0.2
jedi==0.10.2
Jinja2==2.9.6
py==1.4.33
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
redis==2.10.5
requests==2.14.2
rope==0.9.4
scandir==1.5