<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Addition</title>
</head>
<body>
<div class="page">
    {#  {% if session.logged_in %}#}
{#    <form action="{{ url_for('add_employee') }}" method=post class=add-entry>#}
<h2>Full Time Employee</h2>
<form action="{{ url_for('add_employee') }}" method = "post">
    <p>
        {{ form.name.label }}<br>
            {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.salary.label }}<br>
            {{ form.salary(size=32) }}
    </p>
    <input type="hidden" name="type" value="FullTime">
    <p>{{ form.submitFulltime()}}</p>
       </form>
</div>
<div class="page">
<h2>External Employee</h2>
 <form action="{{ url_for('add_employee') }}" method = "post">
     <p>
         {{ form.name.label }}<br>
             {{ form.name(size=32) }}
     </p>
     <p>
         {{ form.hourlyWage.label }}<br>
             {{ form.hourlyWage(size=32) }}
     </p>

     <p>
         {{ form.hours.label }}<br>
             {{ form.hours(size=32) }}
     </p>
     <input type="hidden" name="type" value="External">
     <p>{{ form.submitExternal()}}</p>
</form>
</div>
</body>
</html>


    {#    <dl>#}
{#        <dt>Title:#}
{#        <dd><input type=text size=30 name=title>#}
{#        <dt>Text:#}
{#        <dd><textarea name=text rows=5 cols=40></textarea>#}
{#        <dd><input type=submit value=Share>#}
{#      </dl>#}
{#    </form>#}
{#  {% endif %}#}
{#          <input type = "text" name = "name" id="name" label for="Full Name" >#}
{#        <input type = "text" name = "job_status" id="job_status" label for="Job Type" >#}
{#
   <input type = "radio" id="fulltime" name="fulltime" value="fulltime">#}
{#                   <label for="fulltime">Full Time</label>#}
{#        <input type = "radio" id="external"#}
{#               name="external" value="external">#}
{#        <label for = "external">external</label>#}
