{% extends "layout.html" %}
{% block body %}
    <html>
<head>
  Employees can edit classes here
    <meta charset="UTF-8">
    <title>Classes</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
    <body>

<p><a href="{{ url_for('get_classes') }}">Go back to classes</a></p>
<form method = "POST" action = "./add_class">
<table>
  <tr>
    <h6>Instructor Name</h5>
      <select name = "instructorName">
        {% for instructor in instructors %}
        <option name = "instructorName" value="{{instructor.instructorName}}"SELECTED>{{instructor.instructorName}}</option>
        {%endfor%}
      </select>
    <h6>Start Time</h5>
    <input type = "text" name = "startTime">
    <h6>Exercise Name </h6>
    <select name = "exerciseName">
    {% for exercise in exercises %}
    <option name = "exerciseName" value="{{exercise.exerciseName}}"SELECTED>{{exercise.exerciseName}}</option>
    {%endfor%}
  </select>
  <h6>Class Duration</h6>
    <input type = "text" name="newClassDuration">
      </select>
    <!-- <h6> Excercise Name</h5>
    <input type = "text" name = "exerciseName"> -->
    <h6> Exercise Description</h5>
      <select name = "exerciseDescription">
      {% for exercise in exercises %}
      <option name = "exerciseDescription" value="{{exercise.exerciseDescription}}"SELECTED>{{exercise.exerciseDescription}}</option>
      {%endfor%}
    </select>
    <h6>Building Name</h5>
      <input type = "text" name="newBuildingName">
    <h6>Room Number </h5>
      <input type ="text" name = "newRoomNumber">
    <h6>Capacity </h5>
      <input type = "text"name=  "newCapacity">
    <input type = "submit" value = "Add Class">
  </form>
  <div class="page">
    <table>
  <tr>
    <th>Start Time</th>
    <th>Duration(Hours)</th>
    <th>Exercise</th>
      <th>Description</th>
    <th>Instructor</th>
      <th>Building Name</th>
      <th>Room Number
  </tr>
  {% for class in classes %}
  <form method="POST" action = "./edit_class">

  <input type = "hidden" name="oldStartTime" value="{{class.startTime}}"/>
  <input type="hidden" name = "oldClassDuration" value="{{class.duration}}"/>
  <input type= "hidden" name ="oldExcerciseName" value = "{{class.excerciseName}}"/>
  <input type = "hidden" name="oldClassDescription" value="{{class.description}}"/>
  <input type= "hidden" name ="oldInstructorName" value = "{{class.instructorName}}"/>
  <input type = "hidden" name="oldBuildingName" value="{{class.buildingName}}"/>
  <input type= "hidden" name ="oldRoomNumber" value = "{{class.roomId}}"/>
  <input type = "hidden" name="oldClassDuration"value="{{class.duration}}"/>
  <input type = "hidden" name="oldExerciseDescription" value="{{class.description}}"/>
  <input type = "hidden" name="exceriseId" value="{{class.exerciseId}}"/>
  <input type = "hidden" name="instructorId"value = "{{class.instructorId}}"/>
  <td><input type = "text" value = "{{class.startTime}}" name="newStartTime"></td>
  <td><input type="text"value="{{class.duration}}" name="newClassDuration"></td>
  <td><input type = "text" value = "{{class.exerciseName}}" name="newExerciseName"></td>
    <td><input type = "text" value = "{{class.description}}" name="newExerciseDescription"></td>
    <td><input type = "text"value = "{{class.instructorName}}" name = "newInstructorName"></td>
    <td><input type = "text" value = "{{class.buildingName}}" name = "newBuildingName"></td>
    <td><input type = "text"value = "{{class.roomID}}" name = "newRoomNumber"></td>
<td>
      <input type ="hidden" name="classId" value = "{{class.classId}}">

      <input type = "submit" value = "Update">
    </form>
    </td>
</td>
      <td><form method = "POST" action = './delete_class'>
        <input type = "hidden" value = "{{class.classId}}" name = "classId">
        <input type = "hidden" value = "{{class.roomId}}" name = "roomNumber">
        <input type = "hidden"value="{{class.buildingName}}" name="buildingName">
        <input type="hidden"value = "{{class.instructorId}}" name="instructorId">
        <input type = "submit" value = "Delete">
      </form>
      </td>
  </td>


  </tr>
    {% endfor %}

        {% endblock %}
    </table>


    </div>
    </body>

</html>
