<title>Employee List</title>
{% extends "layout.html" %}

{% block body %}

  <table>
    <tr>
      <th>Employee ID</th>
      <th>Name</th>
    </tr>
    {% for employee in employees %}
      <tr>
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td><a href="{{ url_for('edit_employee',id=employee.id) }}">Edit</a></td>
      </tr>
    {% else %}
      <li><em>No employees so far</em>
    {% endfor %}
  </table>

  </ul>
    <p><a href="{{ url_for('add_employee') }}">Add employees</a></p>
    <p><a href="{{ url_for('delete_employee') }}">Delete employees</a></p>
    <p><a href="{{ url_for('get_classes') }}">Show classes</a></p>
    <p><a href="{{ url_for('view_payroll') }}">View Payroll</a></p>

    {#    <p><a href="{{ url_for('delete_employee')}}">Delete employees</a></p>#}

{% endblock %}
