{% extends "layout.html" %}
{% block body %}
    <html>
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
    <style>
      .page{
        width: 50em;
      }
    </style>
</head>
    <body>
  <h3>Class Signup</h3>
  <table>
  <tr>
    <th>Start Time</th>
    <th>Exercise</th>
      <th>Description</th>
    <th>Instructor</th>
      <th>Building Name</th>
      <th>Room Number</th>
  <th>Spots available</th>
  </tr>
  {% for class in classes %}
  <input type = "hidden" name="capacity"value="{{class.capacity}}"
  <tr>
      <td>{{class.startTime}}</td>
      <td>{{ class.exerciseName }}</td>
      <td>{{class.description}}</td>
      <td>{{ class.instructorName }}</td>
       <td>{{ class.buildingName }}</td>
      <td>{{ class.roomId }}</td>
      <td>{{ capacity-enrolled }}</td>
    {% if (capacity-enrolled!=0) %}
    <td><form action ="{{ url_for('get_classes') }}" method = "post">
            <input type ="hidden" name ="id" value="{{ class.instructorId }}">
            <input type = "hidden" name = "classId" value ="{{ class.classId }}">
            <input type="hidden" name = "roomCap" value = "{{ class.roomCap }}">
            {{form.submitJoinClass()}}
        </form>
    {% endif %}
        {% if (capacity-enrolled==0) %}
        <td><b>FULL CLASS</b></td>
    <td><form action ="{{ url_for('get_classes') }}" method = "post">
            <input type ="hidden" name ="id" value="{{ class.instructorId }}">
            <input type = "hidden" name = "classId" value ="{{ class.classId }}">
            <input type="hidden" name = "roomCap" value = "{{ class.roomCap }}">
            {{backForm.submitCheckClasses()}}
        </form>

    {% endif %}
    </td>
  </tr>
      {% else %}
      No classes so far
  {% endfor %}


</table>

{% for class in classes %}
  {% if (capacity-enrolled==0) %}
    <br>
    <h2>Check out these classes instead</h2><br>
    <table>
      <tr>
        <th>Start Time</th>
        <th>Exercise</th>
        <th>Instructor</th>
        <th>Spots available</th>
      </tr>
    {% for rc in recommendedClasses %}
      <tr>
        <td>{{rc.startTime}}</td>
        <td>{{rc.exerciseName}}</td>
        <td>{{rc.instructorName}}</td>
        <td>{{rc.capacity-rc.enrolled}}</td>
      </tr>
    {% endfor %}
  {% endif %}
{% endfor %}
    <table>
{%endblock%}
 </body>
</html>
