<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercises Available</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
    {#  {% if session.logged_in %}#}
{#    <form action="{{ url_for('add_employee') }}" method=post class=add-entry>#}
<div class="page">
<h2>Exercises</h2><br>
<p><a href="{{ url_for('get_classes') }}">Go back to classes</a></p>
<table>
  <tr>
    <th>Exercise Name</th>
      <th></th>
    <th>Exercise Description</th>
      <th></th>

  </tr>
  {% for exercise in exercises%}
  <form method = "POST"action = "./edit_exercises">
  <tr>
    <td><input type="text" name="exerciseName"value="{{exercise.name}}">
      <th></th>
    <td><input type="text"name="exerciseDescription"value="{{exercise.description}}"></td>
    <input type="hidden"name="exerciseId"value="{{exercise.id}}">
    <td><input type = "submit" value="edit"></td>
  </form>
    {% endfor %}

    </tr>
</table>
<p><a href="{{ url_for('add_exercises') }}">Add exercise</a></p>
<p><a href="{{ url_for('delete_exercise') }}">Delete exercise</a></p>
</div>
</body>
</html>
